*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: color-mix(in srgb, #0D357D 80%, #1E2228 100%);
    font-family: Arial, Helvetica, sans-serif;

    
}
header{
    background-color: black;
    height: 75px;
    
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 22px;
    padding: 20px;
    gap: 240px;
    
   
    
    
}
a{
    color: white;
    text-decoration: none;
}

div img{
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    
}

footer img{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    

}
footer{
    display: flex; /** alinhar os elementos*/
    justify-content:center;/**centralizar*/
    margin-top: 8%;
    gap: 5px;
    
    


}
